@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Insert your restaurant menu url below</p>
    <form method="post">
        <input type="text" name="MenuUrl" />
        <input type="submit"/>
    </form>
</div>

<div>
    <br />
    <h1>@ViewData["ResultsTitle"]</h1>
    <br />
    <p>@ViewData["Results"]</p>
</div>